{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Post</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "main-container sticky-header">
            <div class = "menu-items">
                <a class="menu-item" href="{% url 'home' %}">Home</a>
                <a class="menu-item" href="{% url 'create' %}">Create</a>
                    {%if request.user.is_authenticated%}
                    <form method = "POST" action="{%url 'logout'%}">
                        {%csrf_token%}
                        <button class = "logout menu-item">Log out</button>
                    </form>
                    {%else%}
                        <a href="{%url 'login'%}" class= "menu-item">Log in</a>
                    {%endif%}
            </div>
    </div>
    <div class = "greeting">
        <h1>Selected Post:</h1>
    </div>
    <div class = "posts-container ">
            <div class = "post-style">
                <p><i>Written by {{review.user.username}} ({{review.created_at|timesince}} ago)</i></p>
                <h3>'{{review.book.title}}' - {{review.book.author}} | {{review.stars}}</h3>
                    <div class = "genres">
                            <div class ="genre">
                                {% for genre in review.book.genre.all %}
                                {{ genre.genre_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </div> 
                    </div>
                <p>{{review.content}}</p>
                <span class="comments-count">💬{{review.comments.all|length}} comment(s)</span>
                <div class="comment-section">
                        {%for comment in review.comments.all%}
                        <div class="comment-details">
                            <p class="comment-items">
                            {{comment.user.username}}:
                            {{comment.comment}}
                            </p>
                        </div>
                    {%endfor%}
                </div>
            </div>


    </div>
</body>
</html>