{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=viewport, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "main-container sticky-header">
            <div class = "menu-items">
                <a class="menu-item" href="{% url 'home' %}">Home</a>
                <p class="menu-item">Create</p>
                    {%if request.user.is_authenticated%}
                    <form method = "POST" action="{%url 'logout'%}">
                        {%csrf_token%}
                        <button class = "logout menu-item">Log out</button>
                    </form>
                    {%else%}
                        <a href="{%url 'login'%}" class= "menu-item">Log in</a>
                    {%endif%}
            </div>
    </div>
    <div class = "greeting">
        <h1>Welcome to Shelf Nerds, {{request.user}}!</h1>
    </div>
    
    <div class="create-post-container">
        {%if request.user.is_authenticated%}
        <form method = "POST">
            {% csrf_token %}
            <input type="text" name = "book" placeholder="Type book here">
            <input type="text" name="author_name" placeholder="Author's first name">
            <input type="text" name="author_surname" placeholder="Author's surname">
            <input type="text" name="genres" placeholder="Genres, comma-separated">
            <input type="number" name="rating" min="1" max="5" placeholder="Enter rating [1-5]">
            <textarea name="content" placeholder="Review"></textarea>
            <button>Create Post</button>
        </form>
        {%endif%}
    </div>

    <div class = "posts-container">
            {% for review in reviews%}
            <div class = "post-style">
                <p><i>Written by {{review.user.username}} ({{review.created_at}})</i></p>
                <a href="{% url 'details' review_id=review.id %}"> 
                    <h3>'{{review.book.title}}' - {{review.book.author}} | {{review.stars}}</h3>
                </a>
                    <div class = "genres">
                            <div class ="genre">
                                {% for genre in review.book.genre.all %}
                                {{ genre.genre_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </div> 
                    </div>
                <p class = "review-content">{{review.content}}</p>
                <span class="comments-count">💬{{review.comments.all|length}} comment(s)</span>
                <div class="comment-section">
                        {%for comment in review.comments.all%}
                        <div class="comment-details">
                            <p class="comment-items">
                            {{comment.user.username}}:
                            {{comment.comment}}
                            </p>
                            <p>{{comment.created_at|timesince}}</p>
                        </div>
                        
                    {%endfor%}
                </div>
            </div>
            {%endfor%}
            


    </div>
</body>
</head>
</html>